:root {
  /* Brand colors */
  --primary-color: #FF1393;
  --secondary-color: #AAAAAA;
  --success-color: #198754;
  --warning-color: #ffc107;
  --danger-color: #dc3545;
  --info-color: #0dcaf0;
  --epic-pink: #FF1393;
  --epic-gray: #AAAAAA;
  --epic-white: #FFFFFF;
}

